1. Install python extension - https://marketplace.visualstudio.com/items?itemName=ms-python.python
2. Install conda
3. Create conda environement
4. Select conda interpreter
5. Install Git
6. Clone repository
7. Open repository using VS Code
8. Run first program (1_data_types.py)
9. Install and select linter (e.g. flake8) - https://code.visualstudio.com/docs/python/linting
